
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1>Project #1</h1>
    <p>This is a description of project #3</p>
  </div>
</div>
<div class="container">
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">First feature heading. <span class="text-muted">Feature #1.</span></h2>
    <p class="lead">Amazing feature description for feature #1</p>
  </div>
  <div class="col-md-5">
    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Second feature heading <span class="text-muted">Feature #2</span></h2>
    <p class="lead">Just as amazing as feature #1</p>
  </div>
  <div class="col-md-5 order-md-1">
    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
  </div>
</div>
</div>
<footer class="footer mt-auto py-3">
    <div class="container">
        
          <!-- <a href="https://facebook.com"><i class="fab fa-facebook"></i></a> -->
          <a href="https://facebook.com"><img src="assets/facebook.png" width="20" height = "20"></a>
          &nbsp;
          <a href="https://linkedin.com"><img src="assets/linkedin.png" width="20" height = "20"></a>
          &nbsp;
          <a href="https://skype.com"><img src="assets/skype.png" width="20" height = "20"></a>
          <!-- <button type="submit" class="fab fa-facebook"></button> -->
    </div>
  </footer>