<body class="text-center">
  <form (submit)="onLoginSubmit()" class="form-signin">
    <div class="container">
      <div class="m-5 w-50 mx-auto">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" placeholder="Username" required autofocus class="form-control" [(ngModel)]="username" name="username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="password" name="password">
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
      </div>
    </div>
  </form>
</body>
<footer class="footer mt-auto py-3">
    <div class="container">
        
          <!-- <a href="https://facebook.com"><i class="fab fa-facebook"></i></a> -->
          <a href="https://facebook.com"><img src="assets/facebook.png" width="20" height = "20"></a>
          &nbsp;
          <a href="https://linkedin.com"><img src="assets/linkedin.png" width="20" height = "20"></a>
          &nbsp;
          <a href="https://skype.com"><img src="assets/skype.png" width="20" height = "20"></a>
          <!-- <button type="submit" class="fab fa-facebook"></button> -->
    </div>
  </footer>
