<section class="hero is-primary is-bold">
  <div class="hero-body">
  <div class="container">  
    <h1 class="title">Contact Us!</h1>  
  </div>
  </div>
  </section>
  <section class="section">
  <div class="container">
    
    <form (ngSubmit)="processForm()">
      
      <div class="m-5 w-50 mx-auto">
      <div class="field">
        <input 
          type="text" 
          name="name" 
          class="form-control" 
          placeholder="Your Name" 
          [(ngModel)]="name"
          required
          minlength="3"
          #nameInput="ngModel">
        <div *ngIf="nameInput.invalid && nameInput.dirty" class='text-danger'>
          Name is required and needs to be at least 3 characters long.
        </div>
      </div>
      
      <div class="field">          
        <input 
          type="email" 
          name="email" 
          class="form-control" 
          placeholder="Your Email" 
          [(ngModel)]="email"
          required
          email
          #emailInput="ngModel">
        <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
          Needs to be a valid email.
        </div>
      </div>
      
      <div class="field">
        <textarea 
          class="form-control"  
          name="message" 
          placeholder="What's on your mind?" 
          [(ngModel)]="message"
          required
          #messageInput="ngModel"></textarea>
          <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
            Your message is required!
          </div>
      </div>
      <button type="submit" class="button is-danger is-large">Submit</button>
    </div>
    </form>
  </div>
  </section>

<!-- 
  
  <head>
    <title>Contact Form</title>
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
    <script type="text/javascript">
        (function(){
           emailjs.init("<YOUR USER ID>");
        })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('contact-form').addEventListener('submit', function(event) {
                event.preventDefault();
                this.contact_number.value = Math.random() * 100000 | 0;
                emailjs.sendForm('contact_service', 'contact_template', this);
            });
        }
    </script>
</head>
<body>
    <form id="contact-form">
        <input type="hidden" name="contact_number">
        <label>Name</label>
        <input type="text" name="user_name">
        <label>Email</label>
        <input type="email" name="user_email">
        <label>Message</label>
        <textarea name="contact"></textarea>
        <input type="submit" value="Send">
    </form>
</body> -->