<div class="jumbotron text-center">
  <h1>MEAN stack portfolio website</h1>
  <p class="lead">Welcome to our portfolio website built using the MEAN stack</p>
</div>

<div class="text-center" id="projects_title">
    <h2>What I do</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/icon1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Skill #1</h5>
        <p class="card-text">Proficient in skill #1 to the highest degree</p>
      </div>
    </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="assets/icon2.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Skill #2</h5>
                <p class="card-text">Proficient in skill #2 to the highest degree</p>
              </div>
    </div>
    </div>
    
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/icon3.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Skill #3</h5>
            <p class="card-text">Proficient in skill #3 to the highest degree</p>
          </div>
        </div>
        </div>
        </div>
      </div>
    <!-- CUSTOM TILES END HERE -->


<hr class="featurette-divider">

<div></div>
<div class="text-center" id="projects_title">
    <h2>Projects I have done</h2>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-4">
    <div class="card" style="width: 18rem;">
      <img (mouseenter)="mouseEnter(0)" (mouseleave)="mouseLeave(0)" class="card-img-top" src={{this.displayArray[0]}} alt="Card image cap">
      <div *ngIf="this.boolArray[0]==false" class="card-body">
        <h5 class="card-title">Project #1</h5>
        <p class="card-text">Project #1 punchline</p>
        <a href="project1" class="btn btn-primary">Open</a>
      </div>
      <div *ngIf="this.boolArray[0]==true" class="card-body">
          <h5 class="card-title">Project #1</h5>
          <p class="card-text">Project #1 cooler punchline</p>
          <a href="project1" class="btn btn-primary">Open</a>
        </div>
    </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img (mouseenter)="mouseEnter(1)" (mouseleave)="mouseLeave(1)" class="card-img-top" src={{this.displayArray[1]}} alt="Card image cap">
              <div *ngIf="this.boolArray[1]==false" class="card-body">
                <h5 class="card-title">Project #2</h5>
                <p class="card-text">Project #2 punchline</p>
                <a href="project2" class="btn btn-primary">Open</a>
              </div>
              <div *ngIf="this.boolArray[1]==true" class="card-body">
                  <h5 class="card-title">Project #2</h5>
                  <p class="card-text">Project #2 cooler punchline</p>
                  <a href="project2" class="btn btn-primary">Open</a>
                </div>
            </div>
                </div>
    
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                      <img (mouseenter)="mouseEnter(2)" (mouseleave)="mouseLeave(2)" class="card-img-top" src={{this.displayArray[2]}} alt="Card image cap">
                      <div *ngIf="this.boolArray[2]==false" class="card-body">
                        <h5 class="card-title">Project #3</h5>
                        <p class="card-text">Project #3 punchline</p>
                        <a href="project3" class="btn btn-primary">Open</a>
                      </div>
                      <div *ngIf="this.boolArray[2]==true" class="card-body">
                          <h5 class="card-title">Project #3</h5>
                          <p class="card-text">Project #3 cooler punchline</p>
                          <a href="project3" class="btn btn-primary">Open</a>
                        </div>
                    </div>
                        </div>
        </div>
        <hr class="featurette-divider">
        <a href="projects" class="btn btn-primary">More projects here</a>
        <hr class="featurette-divider">
      </div>


  